body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #756fac;
}
.formulario{
        width: 400px;
        height: 400px;
        background-color: #3a1a70;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 3px 3px 10px #3c1f71;
}
.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea{
    width: 91%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 10px;
    border: 10px;
    border-radius: 5px;
}
    